<%= form_for @comment,:url => song_comments_path(@song) do |c| %>
	<%= c.label :title,'title' %>
	<%= c.text_field :title %>
	<%= c.label :description,'description' %>
	<%= c.text_area :description %>
	<button type="submit">add</button>
	<%= link_to 'back',song_path(@song) %>
<% end %>


