<table class="table table-hover table-bordered">
	<%= y.label :name, 'naem' %>
	<%= y.text_field :name, :class=>'form-control' %>
	<%= y.label :link, 'link' %>
	<%= y.text_field :link, :class=>'form-control' %>
	<%= y.submit %>
	<%= link_to 'back', song_ytlinks_path(@song), :class => 'btn btn-default' %>
</table>