<table class="table table-hover table-bordered">
	<tr>
		<th>Name</th>
		<th>YtLink</th>
		<th>Update By</th>
		<th>Show</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<% @ytlinks.each do |y| %>
		<tr>
			<td><%= y.name %></td>
			<td><%= y.link %></td>
			<td><%= y.user.email %></td>
			<td><%= link_to '', song_ytlink_path(@song,y), :class=>'btn btn-default glyphicon glyphicon-search'%></td>
			<td><%= link_to '', edit_song_ytlink_path(@song,y), :class=>'btn btn-default glyphicon glyphicon-pencil' %></td>
			<td><%= link_to '', song_ytlink_path(@song,y), :method=>:delete, :class=>'btn btn-default glyphicon glyphicon-trash' %></td>
		</tr>
	<% end %>
</table>
<%= link_to '',new_song_ytlink_path(@song), :class=>'btn btn-default glyphicon glyphicon-plus' %>
<%= link_to 'back',song_path(@song), :class=>'btn btn-default' %>