<div class="panel panel-default">
	<div class="panel-heading"><b>Comments</b></div>
	<table class="table table-bordered">
		<% @comments.each do |c| %>
			<tr id="comment-<%= c.id %>">
				<td colspan="3" 	><%= c.title %>
					<div class="pull-right">
						<b>By </b> <%= c.user.name? %>	
					</div>
				</td>
			</tr>
			<tr id="comment-<%= c.id %>">
				<td><%= c.description %></td>
				<td width="1%" class="text-center"><%= link_to'',edit_song_comment_path(@song,c),:remote=>true,:class=>'btn btn-default glyphicon glyphicon-pencil' %></td>
				<td width="1%" class="text-center"><%= link_to'',song_comment_path(@song,c),:method=>:delete,:remote=>true,:class=>'btn btn-default glyphicon glyphicon-trash' %></td>
			</tr>
		<% end %>
	</table>
</div>