<div class="panel panel-default">
	<div class="panel-heading"><b>Comments</b></div>
	<table class="table table-bordered">
		<% @comments.each do |c| %>
			<tr id="comment-<%= c.id %>">
				<td colspan="3" 	><%= c.title %>
					<div class="pull-right">
						<b>By </b> <%=link_to c.user.name?,user_path(c.user) %>
					</div>
				</td>
			</tr>
			<tr id="comment-<%= c.id %>">
				<td><%= c.description %></td>
					<% if current_user == c.song.user || current_user == c.user || current_user.try(:role) == 'admin' %>
						<td width="1%" class="text-center"><%= link_to'',edit_song_comment_path(@song,c),:remote=>true,:class=>'btn btn-default glyphicon glyphicon-pencil' %></td>
					<% else %>
						<td width="1%">
							<span class="btn glyphicon glyphicon-gift"></span>
						</td>
					<% end %>
					<% if current_user == c.song.user || current_user == c.user || current_user.try(:role) == 'admin' %>
						<td width="1%" class="text-center"><%= link_to'',song_comment_path(@song,c),:method=>:delete,:remote=>true,:class=>'btn btn-default glyphicon glyphicon-trash' %></td>
					<% else %>
						<td width="1%">
							<span class="btn glyphicon glyphicon-gift"></span>
						</td>
					<% end %>
			</tr>
		<% end %>
	</table>
</div>