<%= form_for @song, :url => song_path(@song),:remote=>true do |s| %>
	<table class="table table-hover table-bordered">
		<tr>
			<td><%= s.text_field :name,:placeholder=>"Channel Name",:class=>"form-control" %></td>
			<td><%= s.text_field :description,:placeholder=>"Description",:class=>"form-control" %></td>
			<td><%= link_to "Cancel",edit_song_path(@song,:order=>'cancel'),:remote=>true, :class=>"btn btn-default" %></td>
		  <td><button type='submit' class='btn btn-default'>Add</button></td>
		  <%= s.collection_check_boxes(:tag_ids, Tag.all, :id, :tag) %>	
		</tr>
	</table>
<% end %>
