<table class="table table-hover table-bordered">
	<%= form_for @song, :url => songs_path do |s| %>
		<tr>
			<td><%= s.text_field :name,:placeholder=>"Channel Name",:class=>"form-control" %></td>
			<td colspan="2" width="10%">upload pic</td>
		</tr>
		<tr>	
			<td><%= s.text_area :description,:placeholder=>"Description",:class=>"form-control" %></td>
			<td><%= link_to "Cancel",songs_path, :class=>"btn btn-default" %></td>
		  <td><button type='submit' class='btn btn-default'>create</button></td>
		</tr>
<!-- 		<tr>
			<td colspan="3">
				<%= s.collection_check_boxes(:tag_ids, Tag.all, :id, :tag) %>		
			</td>
		</tr> -->
	<% end %>
</table>