<div class="panel panel-default">
  <div class="panel-heading">
  	<h4><%= @song.name %></h4>
		<div id="like">
			<%= render 'songs/like'%>	
		</div>
		<div id="keep">
			<%= render 'songs/keep'%>	
		</div>
	</div>
	<table class="table table-hover table-bordered">
	<tr><th colspan="2">
		Host <%= @song.user.email %>
		<div class="pull-right">
			<%= link_to'edit',edit_song_path(@song),:remote=>true, :class=>'btn btn-default' %>		
		</div>
	</th></tr>
	<tr><td colspan="2"><%= @song.description %></td></tr>
	<tr>
		<th>Tags</th>
		<td>
			<% @tags.each do|t| %>
			<%= link_to t.tag ,song_tag_path(@song,t),:method=>:delete,:remote=>true,:class=>'btn btn-default glyphicon glyphicon-remove' %>
			<% end %>
		</td>
	</tr>
	</table>
</div>