<div class="col-lg-6 col-md-6">
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<b><%= s.name %></b> 
	  	<div class="pull-right">
				<td><b>by </b> <%=link_to s.user.name?,user_path(s.user) %></td>
	  	</div>
	  </div>
		<table class="table table-bordered">
			<tr>
				<!-- songs -->
				<td width="33%">
					<div class="btn glyphicon glyphicon-music">
					</div>
			  	<b><%= s.ytlinks.count %>  Songs</b> 
				</td>
				<!-- views -->
				<td width="33%">
					<div class="btn glyphicon glyphicon-edit">
					</div>
			  	<b><%= s.comments.count %>  Comments</b> 
				</td>
				<!-- coments -->
				<td width="33%">
					<div class="btn glyphicon glyphicon-eye-open">
					</div>
					<b><%= s.view_count %>  Views</b> 
				</td>

				<!-- show -->
				<td width="1%"><%= link_to'',song_path(s),data: { turbolinks: false }, :class=>'btn btn-default glyphicon glyphicon-search' %></td>
				<!-- delete -->
				<% if current_user == s.user || current_user.try(:role) == 'admin' %>
					<td width="1%"><%= link_to'',song_path(s),:method=>:delete, :class=>'btn btn-default glyphicon glyphicon-trash' %></td>				
				<% else %>
					<td width="1%">
						<span class="btn glyphicon glyphicon-gift"></span>
					</td>
				<% end %>
			</tr>
		</table>
	</div>
</div>