<div class="panel panel-default">
  <div class="panel-heading">
  	<h4><%= @song.name %></h4>
		<div id="like">
			<%= render 'songs/like'%>	
		</div>
		<div id="keep">
			<%= render 'songs/keep'%>	
		</div>
	</div>
	<table class="table table-hover table-bordered">
	<tr><td>
		<b>Host</b><br>
		<%= @song.user.email %>
		<div class="pull-right">
			<%= link_to'',edit_song_path(@song),:remote=>true, :class=>'btn btn-default glyphicon glyphicon-pencil' %>		
		</div>
	</td></tr>
	<tr><td>
		<b>Descriptions:</b><br>
		<%= @song.description %>
		
	</td></tr>
	<tr>
		<td>
			<b>Tags</b>
			<% @tags.each do|t| %>
			<%= link_to t.tag ,song_tag_path(@song,t),:method=>:delete,:remote=>true,:class=>'btn btn-default glyphicon glyphicon-remove' %>
			<% end %>
		</td>
	</tr>
	</table>
</div>