<table class="table table-hover">

	<% @songs.each do |s| %>
	<tr>
		<td><%= s.name %></td>
		<td><%= s.link %></td>
		<td><%= s.description %></td>
		<td><%= link_to"show",song_path(s) %></td>
		<td><%= link_to"edit",edit_song_path(s) %></td>
		<td><%= link_to"delete",song_path(s),:method=>:delete %></td>
	</tr>
	<% end %>
</table>

<%= link_to"new", new_song_path %>

