<div class="intro">
	<%= image_tag "HEADER.jpg" ,:class=>"header"%>

	<div class="newsong">
		<%= render 'new' %>
	</div>
</div>

<% if params[:keyword] %>
	<% @tags.collect{|cu| cu.song}.uniq.each do |s| %>
	 <%= render :partial => 'songs',:locals => {:s => s} %>
	<% end %>
<% else %>
	<% @songs.each do |s| %>
	 <%= render :partial => 'songs',:locals => {:s => s} %>
	<% end %>
<% end %>

<div class="text-center col-lg-12 col-md-12">
	<% if params[:keyword] %>
		<%= paginate @tags %>
	<% else %>
		<%= paginate @songs %>
	<% end %>
</div>
