<%= render 'new' %>
<table class="table table-bordered">
	<%= form_for @tag, :url=> tags_path do |t| %>
		<tr>
			<td><%= t.text_field :tag,:placeholder=>"#tags",:class=>"form-control" %></td>
			<td><button type="submit" class="btn btn-default">add tags</button></td>
		</tr>
	<% end %>
</table>

<% @songs.each do |s| %>
	<div class="col-lg-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<%= s.name %>
		  	<div class="pull-right">
					<td><%= s.user.email %></td>
		  	</div>
		  </div>
			<table class="table table-bordered">
				<tr>
					<!-- songs -->
					<td width="5%">
						<div class="btn btn-default glyphicon glyphicon-music">
							<sapn class="badge">
						  	<%= s.ytlinks.count %>
							</sapn>
						</div>
					</td>
					<!-- views -->
					<td width="5%">
						<div class="btn btn-default glyphicon glyphicon-edit">
							<sapn class="badge">
								<%= s.comments.count %>
							</sapn>
						</div>
					</td>
					<!-- comments -->
					<td width="5%">
						<div class="btn btn-default glyphicon glyphicon-eye-open">
							<sapn class="badge">
								<%= s.view_count %>
							</sapn>
						</div>
					</td>

					<!-- show -->
					<td width="5%"><%= link_to'',song_path(s), :class=>'btn btn-default glyphicon glyphicon-search' %></td>
					<!-- delete -->
					<td width="5%"><%= link_to'',song_path(s),:method=>:delete, :class=>'btn btn-default glyphicon glyphicon-trash' %></td>
				</tr>
			</table>
		</div>
	</div>
<% end %>
