<div id="songinfo">
	<%= render 'songinfo' %>
</div>

<div id="song"></div>

<% if current_user == @song.user || current_user.try(:role) == 'admin' %>
	<div id="addtag">
		<%= render 'tags/addtag' %>
	</div>
<% end %>

<%= render 'youtube' %>

<div id="ytlinks">
	<%= render 'ytlinks' %>
</div>

<div id="ytlink">
	<%= render 'ytlinks/newytlink' %>
</div>

<div id="comments">
	<%= render 'comments' %>
</div>

<div id="comment">
	<%= render 'comments/newcomment' %>	
</div>

<div class="btn-back">
	<%= link_to 'BACK', songs_path, :class=>'btn btn-default' %> 	
</div>
<div class="footer"></div>

<script>
	subscribe_song( <%= @song.id %> );
	a = <%= sanitize @ytlinks.pluck(:link).to_json %>
</script>