<div class="panel panel-default">
  <div class="panel-heading">
  	<h4><%= @song.name %></h4>
		<div id="like">
			<%= render 'like'%>	
		</div>
		<div id="keep">
			<%= render 'keep'%>	
		</div>
	</div>
	<table class="table table-hover table-bordered">
	<tr><th>
		Host <%= @song.user.email %>
		<div class="pull-right">
			<%= link_to'edit',edit_song_path(@song), :class=>'btn btn-default' %>		
		</div>
	</th></tr>
	<tr><td><%= @song.description %></td></tr>
	<tr><td>
		<% @song.tags.each do|t| %>
		<%= t.tag %>
		<% end %>
	</td></tr>
	</table>
</div>

<%= render 'youtube' %>

<p>ytlinks</p>

<div id="ytlinks">
	<%= render 'ytlinks' %>
</div>

<div id="ytlink">
	<%= render 'ytlinks/newytlink' %>
</div>

<p>comments</p>

<div id="comments">
	<%= render 'comments' %>
</div>

<div id="comment">
	<%= render 'comments/newcomment' %>	
</div>



<%= link_to 'back', songs_path, :class=>'btn btn-default' %> 