<div class="panel panel-default">
  <div class="panel-heading"><%= @song.name %></div>
	<table class="table table-hover table-bordered">
	<tr><th>Host <%= @song.user.email %></th></tr>
	<tr><td><%= @song.description %></td></tr>
	</table>
</div>
<%= link_to "ytlinks", song_ytlinks_path(@song), :class=>'btn btn-default' %>
<%= link_to 'back', songs_path, :class=>'btn btn-default' %>
