<div id="songinfo">
	<%= render 'songinfo' %>
</div>

<table class="table table-bordered">
	<%= form_for @tag, :url=> tags_path(:song_id=>@song.id) do |t| %>
		<tr>
			<td><%= t.text_field :tag,:placeholder=>"#tags",:class=>"form-control" %></td>
			<td><button type="submit" class="btn btn-default">add tags</button></td>
		</tr>
	<% end %>
</table>

<div id="song"></div>

<%= render 'youtube' %>

<p>ytlinks</p>

<div id="ytlinks">
	<%= render 'ytlinks' %>
</div>

<div id="ytlink">
	<%= render 'ytlinks/newytlink' %>
</div>

<p>comments</p>

<div id="comments">
	<%= render 'comments' %>
</div>

<div id="comment">
	<%= render 'comments/newcomment' %>	
</div>

<%= link_to 'back', songs_path, :class=>'btn btn-default' %> 