<div class="panel panel-default">
  <div class="panel-heading"><%= @song.name %></div>
	<table class="table table-hover table-bordered">
	<tr><th>Host <%= @song.user.email %></th></tr>
	<tr><td><%= @song.description %></td></tr>
	<tr><td>
		<% @song.tags.each do|t| %>
		<%= t.tag %>
		<% end %>
	</td></tr>
	</table>
</div>

<div id="like">
	<%= render 'like'%>	
</div>

<div id="keep">
	<%= render 'keep'%>	
</div>

<%= link_to'edit',edit_song_path(@song), :class=>'btn btn-default' %>

<%= render 'youtube' %>

<p>ytlinks</p>


<div id="ytlink"></div>
<table class="table table-hover table-bordered">
	<% @ytlinks.each do |y| %>
	<tr id="ytlink-<%= y.id %>">
		<td><%= y.name %></td>
		<td><%= y.link %></td>
		<td><%= y.user.email %></td>
		<td><%= link_to'edit',edit_song_ytlink_path(@song,y),:class=>'btn btn-default' %></td>
		<td><%= link_to'delete',song_ytlink_path(@song,y),:method =>:delete,:remote=>true,:class=>'btn btn-default' %></td>
	</tr>
	<% end %>
</table>
<%= link_to'add ytlinks',new_song_ytlink_path(@song),:class=>"btn btn-default" %>
<p>comments</p>

<table class="table table-hover table-bordered">
	<% @comments.each do |c| %>
		<tr>
			<td><%= c.title %></td>	
			<td><%= link_to'edit',edit_song_comment_path(@song,c),:class=>'btn btn-default' %> </td>
			<td><%= link_to'delete',song_comment_path(@song,c),:method=>:delete,:class=>'btn btn-default' %> </td>
		</tr>
	<% end %>
</table>
<%= link_to"add comment",new_song_comment_path(@song),:class=>"btn btn-default" %>

<%= link_to 'back', songs_path, :class=>'btn btn-default' %> 