<div id="songinfo">
	<%= render 'songinfo' %>
</div>

<div id="addtag">
	<%= render 'tags/addtag' %>
</div>

<div id="song"></div>

<%= render 'youtube' %>

<p>ytlinks</p>

<div id="ytlinks">
	<%= render 'ytlinks' %>
</div>

<div id="ytlink">
	<%= render 'ytlinks/newytlink' %>
</div>

<p>comments</p>

<div id="comments">
	<%= render 'comments' %>
</div>

<div id="comment">
	<%= render 'comments/newcomment' %>	
</div>

<%= link_to 'back', songs_path, :class=>'btn btn-default' %> 

