<table class="table table-hover">
<tr><td><%= @song.name %></td></tr>
<tr><td><%= @song.link %></td></tr>
<tr><td><%= @song.description %></td></tr>
</table>
<%= link_to "ytlinks", song_ytlinks_path(@song) %>
<%= link_to "back", songs_path %>
