<div class="col-lg-1"></div>
<div class="col-lg-10">
<h2>CHANNELS</h2>
	<table class="table table-hover table-bordered">
		<% @songs.each do |s| %>
			<tr>
				<th><%= s.name %></th>
				<td>by <%= s.user.name? %></td>
				<!-- songs -->
				<td width="20%">
					<div class="btn glyphicon glyphicon-music">
					</div>
			  	<b><%= s.ytlinks.count %>  Songs</b> 
				</td>
				<!-- views -->
				<td width="20%">
					<div class="btn glyphicon glyphicon-edit">
					</div>
			  	<b><%= s.comments.count %>  Comments</b> 
				</td>
				<!-- coments -->
				<td width="20%">
					<div class="btn glyphicon glyphicon-eye-open">
					</div>
					<b><%= s.view_count %>  Views</b> 
				</td>
				<td width="5%">
					<%= link_to'',song_path(s),data: { turbolinks: false }, :class=>'btn btn-default glyphicon glyphicon-search' %>
				</td>
				<td width="5%">
					<%= link_to'',song_path(s),:method=>:delete, :class=>'btn btn-default glyphicon glyphicon-trash' %>
				</td>	
			</tr>
		<% end %>
	</table>

	<h3>Tags</h3>
	<table class="table table-hover table-bordered">
	<tr>
		<td>
			<b>Tags</b>
			<% @tags.each do|t| %>
				<%= link_to t.tag ,song_path(t.song_id),:class=>'btn btn-default' %>
			<% end %>
		</td>
	</tr>
	</table>
</div>

<%= link_to 'back', songs_path, :class=>'btn btn-default btn-back' %> 
